



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ECommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 shadow">
            <div class="container">

                <a class="navbar-brand shadow px-3 text-info" asp-area="" asp-controller="Home" asp-action="Index">ASP .NET Core Final Project</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">


                   


                        <li class="nav-item">
                            <a class="btn btn-info shadow px-2 mr-1" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                      @*  <li class="nav-item">
                            <a class="btn btn-info shadow  px-2 mr-1" asp-area="" asp-controller="Administration" asp-action="ListRoles">Role Dashboard</a>
                        </li>

                        <li class="nav-item">
                            <a class="btn btn-info shadow  px-2 mr-1" asp-area="" asp-controller="Administration" asp-action="CreateRole">New Role</a>
                        </li>

                        <li class="nav-item">
                            <a class="btn btn-info shadow  px-2 mr-1" asp-area="" asp-controller="Administration" asp-action="ListUsers">User Dashboard</a>
                        </li>*@

                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Super Admin"))
                        {

                            <li class="nav-item">
                                <a class="btn btn-info shadow  px-2 mr-1" asp-area="" asp-controller="Administration" asp-action="CreateRole">New Role</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-info shadow  px-2 mr-1" asp-area="" asp-controller="Administration" asp-action="ListRoles">Roles Dashboard</a>
                            </li>

                            <li class="nav-item">
                                <a class="btn btn-info shadow  px-2 mr-1" asp-area="" asp-controller="Administration" asp-action="ListUsers">User Dashboard</a>
                            </li>
                        }

                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {

                            @if ((await authorizationService.AuthorizeAsync(User, "AdminCreatePolicy")).Succeeded)
                            {
                                <li class="nav-item">
                                    <a class="btn btn-info shadow  px-2 mr-1" asp-area="" asp-controller="Administration" asp-action="CreateRole">New Role</a>
                                </li>
                            }

                           
                            <li class="nav-item">
                                <a class="btn btn-info shadow  px-2 mr-1" asp-area="" asp-controller="Administration" asp-action="ListRoles">Roles Dashboard</a>
                            </li>

                             <li class="nav-item">
                            <a class="btn btn-info shadow  px-2 mr-1" asp-area="" asp-controller="Administration" asp-action="ListUsers">User Dashboard</a>
                        </li>
                        }
                        

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted text-center">
        <div class="container">
            <i>ASP .NET Core MVC(Model View Controller)</i>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
