@{
    ViewData["Title"] = "Home Page";
}

<div class="row shadow p-5 m-5" style="margin-top:500px;">
 
 
    <div class="col mt-3 border-right">
        <i class="text-muted">Created By</i>
        <h1>Md. Mahbur Rahman</h1>
    </div>

    <div class="col mt-3">
        <h4>Topics =></h4>
        <ul style="list-style-type:none;">
            <li>Authentication</li>
            <li>Authorization</li>
            <li>Role based Authorization</li>
            <li>Master Details Crud Operations</li>
        </ul>
    </div>


</div>
